# coding: utf-8

# flake8: noqa
{{>partial_header}}

# import models into model package
{{#models}}
{{#model}}
from {{packageName}}.dynamic_models.{{classFilename}} import {{classname}}
{{/model}}
{{/models}}
